In [5]:
import pandas as pd

In [3]:
## Manipulating Data with Pandas

In [6]:
df = pd.read_csv('titanic.csv')
col = df['Fare']
col

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64